server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: service-discovery-route
          uri: lb://service-discovery
          predicates:
            - Path=/eureka/**
          filters:
            - RewritePath=/eureka/(?<segment>.*), /${segment}

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

