server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/galafis/Construindo-um-Projeto-com-Arquitetura-Baseada-em-Microsservi-os-Usando-Spring-Cloud.git
          search-paths: configs
  application:
    name: config-server


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

